/src/Containers/Search/index.test.js
/src/Containers/SavedRecipesContainer/index.test.js
/src/Containers/App/index.test.js
/src/Containers/RecipesContainer/index.test.js

/src/Components/Header/index.test.js
/src/Components/Loader/index.test.js
/src/Components/RecipeCard/index.test.js
/src/Components/RecipeDetailsCard/index.test.js
/src/Components/SignIn/index.test.js
/src/Components/SignUp/index.test.js
/src/Components/SavedRecipeContainer/index.test.js
/src/Components/SavedRecipeDetails/index.test.js
/src/Components/SingleRecipeContainer/index.test.js
/src/Components/SavedRecipeDetailsCard/index.test.js

/src/helper/__mocks__/apiCalls.js
/src/helper/__mocks__/dataCleaner.js

/src/reducers/tests/isLoadingReducer.test.js
/src/helper/tests/dataCleaner.test.js
/src/helper/tests/apiCalls.test.js