.recipe-card {
  margin: auto;
  font-family: 'Cinzel', serif;
  width: 20vw;
  padding: 10px;
}

.recipe-img {
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-btn {
  color: #3F493F;
  font-size: 18px;
  font-family: 'Cinzel', serif;
  background-color: transparent;
  border: none;
}

.recipe-btn:hover {
  color: darkgreen;
}