.header {
  background-color: rgba(88, 121, 36, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height:50px;
  margin: 0px;
}

body {
  font-family: 'Cinzel', serif;
}

h1 {
  margin: 0;
}

.header-link {
  text-decoration: none;
  color: white;
}

.header-btn {
  font-size: 16px;
  font-family: 'Cinzel', serif;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 
}



