.saved-recipes-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  background:rgba(255,255,255, 0.8);
  border-radius: 4px;
  height: 88vh;
  overflow: auto;
  margin-top: 75px;
}

.home-btn {
  margin: .5rem 0 0 .5rem;
  color: transparent;
  background-repeat: no-repeat;
  background-size: 30px;
  background-image: url('../../Images/delete-button.svg');
}

.home-btn:hover {
  background-image: url('../../Images/delete-button1.svg');
}