.recipe-card {
  margin: auto;
  font-family: 'Cinzel', serif;
  width: 30vw;
  height: 500px
}

.recipe-img {
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-btn {
  display: block;
  font-size: 18px;
  background-color: transparent;
  color: green;
  border: 2px solid green;
  border-radius: 4px;
  margin: auto;
}

.recipe-btn:hover {
  border: 2px solid darkgreen;
  color: darkgreen;
}