.single-recipe {
  background:rgba(255,255,255, 0.8);
  border-radius: 4px;
  height: 85vh;
  float: right;
  width: 40vw;
  overflow: auto;
  margin: .5rem;
}

a {
  color: green;
}

ul {
    text-align: left;
}